<div class="page-content">
    <div id="title"><img src="/assets/images/boitemess.png" alt=""></div>
    <p>Un espace rien que pour vous afin de poster vos petits messages et mots doux ! </br> Rendez-vous au bas de cette page pour poster le vôtre. On a hâte de vous lire !</br>
    

    {{#if globalError}}
        <div class="error">
            Tous les champs sont requis.
        </div>
    {{/if}}


    {{#each}}<div class="cadremessage">
      <span class="messagecolor">Un petit message de</span> <span class="messageit">"{{name}}"</span> <br>"{{message}}"</div>
    {{/each}}



    <form class="form-style">
        <b>Nom</b>
        {{input type="text" value=name placeholder="Nom"}} <br />
        <b>Message</b>
        {{textarea value=message cols="80" rows="6" placeholder="Message"}}
    </form>
    <div class="myButton"{{action 'send'}}>Envoyer</div>
</div>