<div class="page-content">
     <div id="title"><img src="/assets/images/participer.png" alt=""></div>       
{{#if globalError}}
    <div class="error">
    Une erreur est survenue...
    </div>
{{/if}}
    {{#each errors.amount}}
        <div class="error">
            Veuillez prendre au moins un ticket ou un pack.
        </div>
    {{/each}}
    {{#each errors.nbrTickets}}
        <div class="error">
            {{message}}
        </div>
    {{/each}}
    {{#each errors.nbrPacks}}
        <div class="error">
            {{message}}
        </div>
    {{/each}}
    {{#each errors.emailAddress}}
        <div class="error">
            {{message}}
        </div>
    {{/each}}
<form class="form-style">
<label for="nbrTickets">Tickets (10€)</label> {{input type="text" id="nbrTickets" value=nbrTickets}} <br />

<label for="nbrPacks">Pack de 5 (50€) Minimum 1 gagnant ! </label> {{input type="text" id="nbrPacks" value=nbrPacks}} <br />

<fieldset><legend><b>Coordonnées personnelles</b></legend>
{{input type="text" value=lastName placeholder="Nom de famille"}} <br />
{{input type="text" value=firstName placeholder="Prénom"}} <br />
{{input type="text" value=emailAddress placeholder="Adresse e-mail"}} <br />
</fieldset>

<fieldset><legend><b>Message</b></legend>
{{textarea value=message cols="80" rows="6" placeholder="Message"}} <br />
</fieldset>
</form>
    <p class="styled">
Merci de verser {{amount}} € sur le compte BE73 0634 2911 1160
</p>
<div class="myButton"{{action 'send'}}>Confirmer</div>
</div>