<div class="page-content">
     <div id="title"><img src="/assets/images/cadeau.png" alt=""></div>       
{{#if globalError}}
<div class="error">
    Une erreur est survenue...
</div>
{{/if}}
    {{#each errors.emailAddress}}
        <div class="error">
            {{message}}
        </div>
    {{/each}}
    {{#each errors.amount}}
        <div class="error">
            {{message}}
        </div>
    {{/each}}
<form class="form-style">
<fieldset><legend><b>Coordonnées personnelles</b></legend>
    {{input type="text" value=lastName placeholder="Nom de famille"}} <br />
    {{input type="text" value=firstName placeholder="Prénom"}} <br />
    {{input type="text" value=emailAddress placeholder="Adresse e-mail"}} <br />
</fieldset>
<fieldset><legend><b>Montant du cadeau (€)</b></legend>
    {{input type="text" value=amount placeholder="Montant du cadeau"}}<br />
</fieldset>
<fieldset><legend><b>Message</b></legend>
    {{textarea value=message cols="80" rows="6" placeholder="Message"}} <br />
</fieldset>
</form>
<p class="styled">
    Notre numéro de compte : BE73 0634 2911 1160
</p>
<div class="myButton"{{action 'send'}}>Envoyer le message</div>
</div>